@import url(/css/fonts.css);
:root {
  --prim: #e0b1cb;
  --sec: #231942;
  --tri1: #5e548e;
  --tri2: #9f86c0;
  --tri3: #be95c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik-Normal;
  color: var(--prim);
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: var(--tri1);
  color: var(--prim);
}

section.all-elems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}
section.all-elems .elem {
  background-color: var(--tri2);
  border-radius: 16px;
  height: 400px;
  width: 330px;
  font-size: 30px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.25s;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
section.all-elems .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
section.all-elems .elem h2 {
  position: absolute;
  bottom: 3%;
  right: 5%;
  font-size: 36px;
  font-weight: 200;
}
section.all-elems .elem:active {
  scale: 0.97;
}

section.full-elem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}
section.full-elem .back {
  position: absolute;
  right: 5%;
  background-color: red;
  border-radius: 18px;
  border: none;
  padding: 10px 11px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
section.full-elem .back:active {
  scale: 0.97;
}

section.todo-full-page {
  display: block;
}
section.todo-full-page h2 {
  font-size: 70px;
}
section.todo-full-page .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.todo-full-page .todo-container .addTask {
  width: 34%;
  height: 100%;
  background-color: var(--tri1);
  border-radius: 20px;
}
section.todo-full-page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
section.todo-full-page .todo-container .addTask form input {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--prim);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
section.todo-full-page .todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--prim);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
section.todo-full-page .todo-container .addTask form button {
  padding: 15px 25px;
  width: 100%;
  font-size: 25px;
  background-color: var(--sec);
  color: var(--tri3);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-family: Aeonik-Bold;
  transition: all ease 0.3s;
}
section.todo-full-page .todo-container .addTask form button:active {
  scale: 0.97;
}
section.todo-full-page .todo-container .allTask {
  width: 64%;
  height: 100%;
  background-color: var(--tri1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
section.todo-full-page .todo-container .allTask .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri3);
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
section.todo-full-page .todo-container .allTask .task h5 {
  color: var(--sec);
  font-size: 30px;
  font-weight: 700;
}
section.todo-full-page .todo-container .allTask .task button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: Aeonik-Light;
  transition: all ease 0.3s;
}
section.todo-full-page .todo-container .allTask .task button:active {
  scale: 0.97;
}/*# sourceMappingURL=style.css.map */